:root {
    --listBackgroundColor: #e0f3f8;
    --listBackgroundBorderColor: #99a7f6;
    --itemBackgroundColor: #fff;
    --itemColor: #053172;
    --itemBorderColor: #9cbacf;
    --newItemColor: #07556e;
}
