bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
RidgeList.sln.DotSettings.user
.idea/**/*
RidgeList.FrontEnd/ClientApp/.eslintcache
RidgeList.FrontEnd/ClientApp/.eslintcache
.vs/RidgeList/v16/.suo
.vs/RidgeList/config/applicationhost.config
RidgeList.FrontEnd/ClientApp/.eslintcache
